body{
    /* background-image:url('../image/image1.jpg'); */
    background-color: #000000;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0%;

    /* position: relative; */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    padding-top: 10px;
    padding-right: 0%;
    /* background-repeat: no-repeat;
    background-size: cover;

    background-image: url('../portfolio/image/imagenav.png'); */
    /* align-items: center; */
    z-index: 100;
}
.logo {
    font-size: 2em;
    color: rgb(179, 167, 167);
    cursor: default;
}
.imageindex img{
    height: 100vh;
    opacity: 70%;
    justify-content:right;

}

.navigation {

    /* margin-top: 10%; */
    display: flex;
    justify-content:flex-start;



    /* align-items: center; */

}
.navigation a{
    text-decoration:none;
    color: white;
    padding: 2%;


}

.navigation a:hover {
    color: #31b325;
  
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0%;
    /* background-position: center; */
    display: flex;
    align-items: center;
    justify-content:flex-end;

    /* left: 100px; 
    right: -100px; */
}
section{
    /* background-size: cover; */

    padding: 0;
    /* padding-left: 40px; */
    /* padding-right: -40px; */
    margin: 0%;
}
.content {
    max-width: 675px;
    padding-left: 55px;
    color: #bab3b3;
}
.content h2 {
    font-size: 3em;
}

@keyframes typing {
    0% { width: 0; }
    80% { width: 100%; }
    100% { width: 100%; }
}

@keyframes colorchange {
    0% { color: rgb(160, 80, 167); }
    50% { color: rgb(233, 121, 9); }
    100% { color: rgb(160, 80, 167); }
}
  
span {
    animation: colorchange 5s linear infinite;
}
  
.content h4 {
    font-size: 2em;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    /* color:#25af7cb0; */
    background: linear-gradient(to right, rgb(230, 222, 229), rgb(249, 89, 3));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: monospace;
    animation:typing 3s steps(44, end)infinite;
}
.content p {
    padding: 10px 0 40px 0;
    color: aliceblue;
}
.social-icons {
    position: absolute;
    bottom: 50px;
}
.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #332348;
    transition: .3s;
}
.social-icons a:hover {
    transform: translateY(-5px);
}
.social-icons a i {
    color: #fff;
}